--disable all

--enable andOperator
--enable anyObjectProtocol
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable braces
--enable conditionalAssignment
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable consistentSwitchCaseSpacing
--enable docCommentsBeforeModifiers
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable emptyExtensions
--enable enumNamespaces
--enable genericExtensions
--enable headerFileName
--enable isEmpty
--enable leadingDelimiters
--enable modifierOrder
--enable opaqueGenericParameters
--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantEquatable
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantInternal
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable redundantVariable
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantStaticSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable sortImports
--enable sortTypealiases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundOperators
--enable spaceInsideBraces
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable todos
--enable typeSugar
--enable unusedPrivateDeclarations
--enable void
--enable wrapMultilineFunctionChains
--enable yodaConditions

--exclude **/.build,macos/build,macos/PolybridgeMonitor/.vscode-build,macos/PbCore/MonitorCore/Sources

--extensionacl on-declarations
--funcattributes prev-line
--header ignore
--self init-only
--swiftversion 6.1
--typeattributes prev-line
--typeblanklines preserve
--wraparguments before-first
--wrapcollections before-first
